@*@model IEnumerable<MyEticketApplication.Models.RouteFrom>;*@

<h1 class="text-center text-muted">From Route List</h1>

<div>
    <a class="btn btn-primary btn-sm mb-1" asp-action="Create" asp-controller="RouteFrom">Create</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>

            <th>From</th>
            <th>To</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.data)
        {

            <tr>

                <td>@item.RouteFromName</td>
                <td>@item.RouteTo.RouteToName</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-controller="RouteFrom" asp-route-RouteFromId="@item.RouteFromId">Edit</a>
                    @*<a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-RouteFromId="@item.RouteTo.RouteToName">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

