@{
    ViewData["Title"] = "Create Ticket";
    List<int> num = new List<int>() { 1, 2, 3, 4, 5, 6, 7 };
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<h1 class="text-muted text-center">@ViewData["Title"]</h1>

<div class="container-fluid">

    <form>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label">From</label>
                    <select class="form-control">
                        <option>Dhaka</option>
                        <option>Rajshahi</option>
                    </select>
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label"> To</label>
                    <select class="form-control">
                        <option>Dhaka</option>
                        <option>Rajshahi</option>
                    </select>
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label">DeperatureDate</label>
                    <input class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <label class="form-label">Return</label>
                <input class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span class="text-danger"></span>
            </div>
            <div class="col-md-2" style="margin-top:2rem">

                <button type="submit" id="search" class="btn btn-success">Search</button>
            </div>
        </div>

    </form>

</div>
<div  class="outlineBorder mt-2">


<div class="card p-1" id="busInfo">
    <div class="row">
        <div class="col-md-2">
            <p>Hanif Enterprize</p>
        </div>
        <div class="col-md-2">
            <p>Arival time</p>
        </div>
        <div class="col-md-2">
            <p>Deperature Time</p>
        </div>
        <div class="col-md-2">
            <p>Seat Available</p>
        </div>
        <div class="col-md-2">
            <p>Seat Available</p>
        </div>
        <div class="col-md-1">
            <p>Seat Available</p>
        </div>
        <div class="col-md-1">
            <button class="view">View</button>
        </div>
    </div>
</div >
<div id="tableDiv">
    <div class="row">

        <div class="col-md-6">
            <div class="card mt-3 p-3">
                <div class="row">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-4 offset-1">
                                <input type="checkbox" />A1
                            </div>
                            <div class="col-md-6 offset-1">
                                <input type="checkbox" />A2
                            </div>
                            <div class="col-md-4 offset-1">
                                <input type="checkbox" />A1
                            </div>
                            <div class="col-md-6 offset-1">
                                <input type="checkbox" />A2
                            </div>
                            <div class="col-md-4 offset-1">
                                <input type="checkbox" />A1
                            </div>
                            <div class="col-md-6 offset-1">
                                <input type="checkbox" />A2
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-4 offset-1">
                                <input type="checkbox" />B1
                            </div>
                            <div class="col-md-6 offset-1">
                                <input type="checkbox" />B2

                            </div>


                            <div class="col-md-4 offset-1">
                                <input type="checkbox" />B1
                            </div>
                            <div class="col-md-6 offset-1">
                                <input type="checkbox" />B2

                            </div>

                            <div class="col-md-4 offset-1">
                                <input type="checkbox" />B1
                            </div>
                            <div class="col-md-6 offset-1">
                                <input type="checkbox" />B2

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label"> Passenger Name</label>
                        <input class="form-control" type="text">
                        <span class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label"> Mobile No</label>
                        <input class="form-control" type="text">
                        <span class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label"> NID No</label>
                        <input class="form-control" type="text">
                        <span class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label"> Deperature Point</label>
                        <select class="form-control">
                            <option>Dhaka</option>
                            <option>Rajshahi</option>
                        </select>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label"> Dropping Point</label>
                        <select class="form-control">
                            <option>Dhaka</option>
                            <option>Rajshahi</option>
                        </select>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <table>
                        <thead>
                            <tr>
                                <th>Seats</th>
                                <th>Class</th>
                                <th>Fare</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>A1</td>
                                <td>Ac</td>
                                <td>2000</td>
                            </tr>
                            <tr>
                                <td>A2</td>
                                <td>Ac</td>
                                <td>2000</td>
                            </tr>

                        </tbody>
                        <tbody>
                            <tr>
                                <td>Seat Fare 4000</td>
                                <td>Service Charge 100</td>
                                <td>Total4100</td>
                            </tr>
                        </tbody>
                    </table>
                <button class="btn btn-primary float-right" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


</div>
<script>

    $(document).ready(function () {
        $("#busInfo").css("visibility", "hidden");
        $("#tableDiv").css("visibility", "hidden");
        $("#search").click(function (e) {
            e.preventDefault();
            $("#busInfo").css("visibility", "visible")
        })
        $(".view").click(function (e) {
            e.preventDefault();
            $("#tableDiv").css("visibility", "visible");
            $(".outlineBorder").css({"padding":"5px","boxShadow": "3px 3px 5px 5px red"})
$(this).text("Hide").click(function(){
            $("#tableDiv").css("visibility", "hidden");
            $(".outlineBorder").css('visibility','hidden');
            $(this).text("View")
})
        })
    })

</script>