@model MyEticketApplication.Models.TransportInfo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TransportInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransportId" />
            <div class="form-group">
                <label asp-for="TransportName" class="control-label"></label>
                <input asp-for="TransportName" class="form-control" />
                <span asp-validation-for="TransportName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportType" class="control-label"></label>
                <input asp-for="TransportType" class="form-control" />
                <span asp-validation-for="TransportType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportOwnerName" class="control-label"></label>
                <input asp-for="TransportOwnerName" class="form-control" />
                <span asp-validation-for="TransportOwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportDescription" class="control-label"></label>
                <input asp-for="TransportDescription" class="form-control" />
                <span asp-validation-for="TransportDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatNo" class="control-label"></label>
                <input asp-for="SeatNo" class="form-control" />
                <span asp-validation-for="SeatNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportTypeId" class="control-label"></label>
                <select asp-for="TransportTypeId" class="form-control" asp-items="ViewBag.TransportTypeDdl"></select>
                <span asp-validation-for="TransportTypeId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
