@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<button class="show">Show</button>
<button class="stop">stop</button>
<input type="text" id="test2">
<p id="test">This is demo <b>Hello</b>Text</p>

<script>

    $(document).ready(function () {
        $(".show").click(function () {
            alert($("#test2").attr("id"))
        });

    })


</script>