@model MyEticketApplication.Models.RouteTo;

<h1>This is Edit page</h1>
<div>
    <div class="row">
        <form method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input id="@Model.RouteToId" type="hidden"/>

            <div class="col-sm-6">
                <div>
                    <label asp-for="RouteToName">Route From</label>
                    <input type="text" class="form-control" asp-for="RouteToName" />
                    <span asp-validation-for="RouteToName" class="text-danger"></span>

                </div>
            </div>


            <div class="mt-1">
                <input type="submit" class="btn btn-primary" />
                <input type="submit" class="btn btn-danger" value="Cancel" asp-action="Index" />
            </div>
        </form>
    </div>
</div>